<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

    <script layout:fragment="script" th:inline="javascript" type="text/javascript">
        $(document).ready(function () {
            //글쓰기
            $("#btnSave").on("click", function () {
                $("#frm").attr("action", "/regForm").submit();
            });

            //검색
            $("#btnSearch").on("click", function (e) {
                e.preventDefault();
                $("#frm").submit();
            });
        });

        //삭제
        function del(no) {
            let boardNo = $("<input>").attr("type", "hidden").attr("name", "boardNo").val(no);
            $("#frm").attr("method", "post")
                     .attr("action", "del")
                     .append(boardNo)
                     .submit();
        }
    </script>

<!-- Content -->
<div layout:fragment="content">
      <form id="frm" th:object="${pageMaker}" action="" method="get">
      <main>
        <div class="container-fluid px-4">
          <h1>게시글 관리</h1>

            <div class="input-group mb3">
                <select name="type" th:field="${cri.type}">
                    <option value="">--</option>
                    <option value="W">작성자</option>
                    <option value="T">제목</option>
                    <option value="C">내용</option>
                </select>
                <input type="text" name="keyword" th:field="${cri.keyword}">
                <button type="button" id="btnSearch" class="btn btn-secondary">검색</button>
            </div>

            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>순번</th>
                        <th>제목</th>
                        <th>내용</th>
                        <th>작성자</th>
                        <th>등록일</th>
                        <th>수정일</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${#lists.size(list) >0}" th:each="list : ${list}">
                        <td th:text="${list.no}"></td>
                        <td><a th:href="@{/detail(boardNo=${list.boardNo})}" th:text="${list.title}"></a></td>
                        <td th:text="${list.content}"></td>
                        <td th:text="${list.writer}"></td>
                        <td th:text="${list.createDate}"></td>
                        <td th:text="${list.updateDate}"></td>
                        <td><a href="#" th:href="'javascript:del('+${list.boardNo}+')'" class="btn btn-danger">삭제</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 게시판 하단 페이지네이션 영역 start -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <!-- prev -->
                <li class="page-item" th:if="${pageMaker.prev} == true">
                    <a class="page-link" th:href="@{/(pageNum=${pageMaker.startPage}-1)}">Prev</a>
                </li>
                <!-- pageMaker의 startPage부터 endPage까지 루프, a태그의 href에 idx를 링크(get방식으로 pageNum을 붙여서) -->
                <li class="page-item" id="paginate_btn" th:each="idx: ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}" th:classappend="${pageMaker.cri.pageNum} == ${idx} ? active : null">
                    <a class="page-link" th:href="@{/(pageNum=${idx})}" th:text="${idx}"></a>
                </li>
                <!-- next -->
                <li class="page-item" th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
                    <a class="page-link" th:href="@{/(pageNum=${pageMaker.endPage}+1)}">Next</a>
                </li>
            </ul>
        </nav>
        <!-- // 게시판 하단의 페이지네이션 영역 end -->

          <button type="button" id="btnSave" class="btn btn-info">글쓰기</button>

      </main>
      </form>
</div>
</html>