<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.example.thboard.mapper.ReplyMapper">

    <!--댓글 목록 조회-->
    <select id="selectReplys" parameterType="map" resultType="Reply">
        /* 댓글 목록 조회 */
        SELECT
	           T1.replyNo
	         , T1.boardNo
	         , T1.content
	         , T1.writer
             , T1.delYn
	         , T1.createDate
	         , T1.updateDate
	      FROM
              (SELECT
                       REPLY_NO AS replyNo
                     , BOARD_NO AS boardNo
                     , CONTENT AS content
                     , WRITER AS writer
                     , DEL_YN AS delYn
                     , CREATE_DATE AS createDate
                     , UPDATE_DATE AS updateDate
                  FROM REPLY
                 WHERE 1=1
                   AND DEL_YN = 'N'
                   AND BOARD_NO = #{boardNo}
              )T1
          WHERE 1=1
    </select>

    <!--댓글 상세 조회-->
    <select id="selectReplyDetail" parameterType="map" resultType="Reply">
        SELECT
               REPLY_NO AS replyNo
             , BOARD_NO AS boardNo
             , CONTENT AS content
             , WRITER AS writer
             , DEL_YN AS delYn
             , CREATE_DATE AS createDate
             , UPDATE_DATE AS updateDate
          FROM REPLY
         WHERE 1=1
           AND DEL_YN = 'N'
           AND BOARD_NO = #{boardNo}
           AND REPLY_NO = #{replyNo}
    </select>

    <!--댓글 카운트-->
    <select id="selectReplyCnt" parameterType="Reply" resultType="int">
        SELECT COUNT(*)
           FROM REPLY
          WHERE 1=1
            AND BOARD_NO = #{boardNo}
    </select>

    <!--댓글 삭제-->
    <update id="delReply" parameterType="Reply">
        UPDATE REPLY
           SET DEL_YN = 'Y'
         WHERE BOARD_NO = #{boardNo}
           AND REPLY_NO = #{replyNo}
    </update>

    <!--댓글 수정-->
    <update id="updateReply" parameterType="Reply">
        UPDATE REPLY
           SET CONTENT = #{content}
             , UPDATE_DATE = SYSDATE
         WHERE BOARD_NO = #{boardNo}
           AND REPLY_NO = #{replyNo}
    </update>

    <!--댓글 저장-->
    <insert id="insertReply" parameterType="Reply">
        <selectKey keyProperty="replyNo" resultType="int" order="BEFORE">
            SELECT REPLY_NO_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        /* 댓글 작성 */
        INSERT INTO REPLY
            (
                REPLY_NO
              , BOARD_NO
              , CONTENT
              , WRITER
              , CREATE_DATE
            )
        VALUES
            (
                #{replyNo}
              , #{boardNo}
              , #{content}
              , #{writer}
              , SYSDATE
            )
    </insert>

</mapper>