<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="study.example.thboard.mapper.UserMapper">

    <!--로그인한 회원 정보-->
    <select id="selectByIdAndNo" parameterType="map" resultType="UserVo">
        SELECT USER_NO AS userNo
             , ID AS id
             , PASSWORD AS password
             , NAME AS name
             , EMAIL AS email
          FROM USER_INFO
         WHERE 1=1
           AND ID = #{id}
    </select>

</mapper>